<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Especialidades</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><a href="/">Lista de Especialidades</a></h1>
  <div class="container">
    <h3 class="button"><a href="/especialidades/criar">Cadastrar</a></h3>
    <!-- Tabela para exibir os especialidades -->
    <table class="w3-table-all">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th class="centered" colspan="2">Ações</th>
      </tr>
      <tr th:each="especialidade : ${especialidades}">
        <td th:text="${especialidade.id}">*</td>
        <td th:text="${especialidade.nome}">*</td>
        <td>
          <div class="action-buttons">
            <a class="button" th:href="@{/especialidades/editar/{id}(id=${especialidade.id})}">Editar</a>
            <a class="button danger" th:href="@{/especialidades/excluir/{id}(id=${especialidade.id})}">Excluir</a>
          </div>
        </td>
      </tr>
    </table>
  </div>

</body>
</html>